In [1]:
import pandas as pd

In [2]:
pd.Series()

Series([], dtype: float64)

In [3]:
pd.Series(5)

0    5
dtype: int64

In [4]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [5]:
pd.Series(5)

0    5
dtype: int64

In [7]:
pd.Series([[1,2],[3,4]])

0    [1, 2]
1    [3, 4]
dtype: object

In [8]:
pd.Series([1,2,3,4],index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
pd.Series({"a":1,"b":2,"c":3})

a    1
b    2
c    3
dtype: int64

In [6]:
arr=pd.DataFrame([[5,6],[12,32]],index=["r1","r2"],columns=["c1","c2"])

In [8]:
arr

    c1  c2
r1   5   6
r2  12  32

In [17]:
arr.dtypes

c1    int64
c2    int64
dtype: object

In [21]:
df = pd.DataFrame([[5, 6], [1.2, 3]])

In [22]:
ser = pd.Series([0, 0], name='r3')

In [23]:

df_app = df.append(ser)

In [24]:
ser

0    0
1    0
Name: r3, dtype: int64

In [9]:
df=pd.DataFrame({"c1":[1,2],"c2":[3,4],"c3":[4,5]})

In [10]:
df

   c1  c2  c3
0   1   3   4
1   2   4   5

In [11]:
df.drop("c1",axis=1)

   c2  c3
0   3   4
1   4   5

In [12]:
df.dtypes

c1    int64
c2    int64
c3    int64
dtype: object

In [15]:
df=pd.DataFrame({"c1":[0,1,2,3],"c2":[5,6,7,8]},index=["r1","r2","r3","r4"])

In [16]:
df

    c1  c2
r1   0   5
r2   1   6
r3   2   7
r4   3   8

In [23]:
# CODE HERE
row_df=pd.DataFrame(data=[[9,9]],index="r5",columns=["c1"])

In [1]:
import pandas as pd

In [3]:
df1=pd.DataFrame({"c1":[1,2],"c2":[3,4]},index=["r1","r2"])

In [4]:
df2=pd.DataFrame({"c1":[5,6],"c2":[7,8]},index=["r1","r2"])

In [19]:
df3=pd.concat([df1,df2],axis=1)

In [22]:
pd.concat([df1,df2,df3],axis=1
         )

    c1  c2  c1  c2  c1  c2  c1  c2
r1   1   3   5   7   1   3   5   7
r2   2   4   6   8   2   4   6   8

In [31]:
df=pd.DataFrame({"c1":[1,2],"c2":[3,4],"c3":[5,6]},index=["r1","r2"])

In [33]:
df

    c1  c2  c3
r1   1   3   5
r2   2   4   6

In [35]:
pd.DataFrame({"c1":[1,2,3],"c2":[2,3,4],"c3":[7,8,9]},index=["r1","r2","r3"])

    c1  c2  c3
r1   1   2   7
r2   2   3   8
r3   3   4   9

In [3]:
pd.DataFrame({"c1":[1,2,3,4],"c2":[1,3,4,5]})

   c1  c2
0   1   1
1   2   3
2   3   4
3   4   5

In [5]:
data=pd.DataFrame({"c1":[1,2],"c2":[2,3],"c3":[6,7]},index=['r1','r2'])

In [7]:
data[["c1","c2"]]

    c1  c2
r1   1   2
r2   2   3

In [10]:
data

    c1  c2  c3
r1   1   2   6
r2   2   3   7

In [17]:
data.iloc[0]

c1    1
c2    2
c3    6
Name: r1, dtype: int64